<div class="product-image-wrapper">
  <div class="single-products">
      <div class="productinfo text-center">
        <img src="assets/images/home/product1.jpg" alt="" />
        <h2>$17</h2>
        <p>Cursiva</p>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2>$17</h2>
          <p>Unides disponibles</p>
          <a href="/product/1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ver detalles</a>
        </div>
      </div>

</div>