<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3>
          <a [routerLink]="['/home']">
            home
          </a>
          >
          <a [routerLink]="['/article/' + article?._id]">
            {{ article?.name }}
          </a>
          >
          <a [routerLink]="['/article/' + article?._id] + '/category/' + category?._id">
            {{category?.name}}
          </a>
          >
          {{ product?.name}}
        </h3>
      </div>



      <div class="col-sm-12 padding-right">

        <div class="product-details">

          <div class="col-12 col-sm-5">

            <div class="view-product">
              <img [src]="product?.image" alt="" />
            </div>

          </div>

          <div class="col-12 col-sm-7">
            <div class="product-information">
              <h2>{{ product?.name }}</h2>
              <span>
                <span>US {{ product?.finalPrice | currency: '$' }}</span>
              </span>
              <p><b>Precio mayoreo:</b> {{ product?.wholesalePrice | currency:'$'}}</p>
              <p><b>Disponibilidad:</b> {{ product?.quantity }} items In Stock</p>
              <p><b>Tipo de articulo:</b> Collares</p>
              <p><b>Categoria:</b> Inciales</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>